@include critical(true) {
  nav .breadcrumb {
    display: none;
  }

  @media screen and (min-width: $viewport_tablet_portrait) { 
    nav .breadcrumb {
      display: block;
      max-width: 1040px;
      margin: 0 auto 1.5em auto;
      padding-left: 10px;

      li {
        display: inline-block;
      }
    }
  }
}