@include critical(false) {
  .contactgrid div {
    margin: 0 0 2em 0;
    padding-left: 50px;
    background-image: url(data-uri('src/templates/siwecos/img/email.svg'));
    background-size: 30px;
    background-position: 5px center;
    background-repeat: no-repeat;

    a {
      text-decoration: none;
      color: $basefontcolor;

      &:hover {
        text-decoration: underline;
      }
    }

    h4 {
      margin: 0;
      font-weight: bold;
      font-size: 1.1rem;
    }
  }

  @media screen and (min-width: $viewport_tablet_portrait) {
    .contactgrid {
      @include flex_row_space;

      div {
        width: 48%;
      }
    }
  }
}